@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  font-family: "Open Sans";
}
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}
